{% extends 'base.html' %}

{% block page_title %}New Scoring System{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 display-3">New Scoring System</h1>

    <div class="row mt-5">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <a href="{{ url_for('plan_bp.get_new_persona') }}" class="btn btn-secondary" role="button" aria-disabled="true">Persona</a>   
                <a href="{{ url_for('plan_bp.get_new_habit') }}" class="btn btn-secondary" role="button" aria-disabled="true">Habit</a>   
                <a href="{{ url_for('plan_bp.get_new_goal') }}" class="btn btn-secondary" role="button" aria-disabled="true">Goal</a>    -->
                <a href="{{ url_for('tracking_bp.get_new_scoring_sys') }}" class="btn btn-info" role="button" aria-disabled="true">Scoring System</a>   
                <!-- <a href="{{ url_for('plan_bp.get_new_persona') }}" class="btn btn-secondary" role="button" aria-disabled="true">Schedule</a>    -->
            </div>  
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <p>Fill out the form below to begin creating your new scoring system:</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <form action="{{ url_for('tracking_bp.add_new_scoring_sys') }}" method="post">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden'%}

                <div class="form-group">
                    {{ field.label(class_="font-weight-bolder") }}
                    {{ field(class_="form-control")}}
                    {% for error in field.errors %}
                    <small class="form-text text-danger">
                    {{error}}
                    </small>
                    {% endfor %}
                </div>

                {% endfor %}

                <a href="/" class="btn btn-secondary my-2">Cancel</a>
                <button type="submit" class="btn btn-primary my-2">Submit</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}