{% extends 'base.html' %}

{% block page_title %}Progress Tracking{% endblock %}

{% block content %}
<div class="container">
    {% if 'username' in session %}
    <h1 class="mt-4 display-3">Under Construction</h1>
    {% else %}
    <h1 class="mt-4 display-3">Under Construction</h1>
    {% endif %}
</div>

<div class="gviz_stepchart" id="gviz_stepchart_div1" data-sys="1" data-title="Chart 1"></div>

<div class="gviz_stepchart" id="gviz_stepchart_div2" data-sys="2" data-title="Chart 2"></div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="static/render_stepcharts.js"></script>
{% endblock %}