{% extends 'base.html' %}

{% block page_title %}Progress Tracking{% endblock %}

{% block content %}
<div class="container">
    {% if 'username' in session %}
    <h1 class="mt-4 display-3">Under Construction</h1>
    {% else %}
    <h1 class="mt-4 display-3">Under Construction</h1>
    {% endif %}
</div>

{% for system in scoring_systems %}
<div class="gviz_scoring_sys" id="gviz_scoring_sys{{ system.id }}" data-sys="{{ system.id }}" data-title="{{ system.title_en }}"></div>
{% endfor %}

<div class="gviz_user_scores" id="gviz_user_scores1" data-habit_id="1" data-qty_days="7"></div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}