{% extends 'base.html' %}

{% block page_title %}Progress Tracking{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 display-3">Track Your Progress</h1>

    <div class="row mt-5">  
        <div class="col">
            <a href="{{ url_for('tracking_bp.get_new_scoring_sys') }}" class="btn btn-info btn-lg" role="button" aria-disabled="true">Create New</a>   
        </div>
    </div>


    {% if scoring_systems %}
        {% for system in scoring_systems %}
        <div class="row my-5 shadow p-3 mb-5 bg-white rounded">
            <div class="col">
                <div class="row">
                    <h2 class="display-4">{{ system.title_en }}</h2>
                </div>
                    
                <div class="row">
                    <p class="lead">{{ system.description }}</p>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="gviz_scoring_sys" id="gviz_scoring_sys{{ system.id }}" data-sys="{{ system.id }}" data-title="{{ system.title_en }}"></div>
                    </div>
                </div>

                <div class="row mb-2">
                    <a class="btn btn-primary mx-2" href="{{ url_for('tracking_bp.get_new_scoring_params', scoring_sys_id = system.id) }}" role="button">Edit Parameters</a>
                    <a class="btn btn-info mx-2" href="{{ url_for('tracking_bp.get_edit_scoring_sys', scoring_sys_id = system.id) }}" role="button">Update System</a>
                    <a class="btn btn-danger mx-2" href="{{ url_for('tracking_bp.delete_scoring_sys', scoring_sys_id = system.id) }}" role="button">Delete System</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="row mt-5">
        <div class="col">
            <p class="lead">You do not have any scoring systems yet.</p>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="static/render_scoring_sys.js"></script>
{% endblock %}