{% extends 'base.html' %}

{% block page_title %}Better Everyday{% endblock %}

{% block content %}
<div class="container">
    {% if not g.user %}
    <h1 class="mt-4 display-3">Welcome to Better Everyday!</h1>
    {% else %}
    <h1 class="mt-4 display-3">Welcome Back {{ g.user.first_name }}!</h1>
    {% endif %}
    <img src="{{ image_url }}" class="img-fluid" alt="Responsive image">
</div>

<div class="container mt-5">

    <div class="row">
        <p>Under construction!</p>
    </div>

</div>

{% endblock %}