{% extends 'base.html' %}

{% block page_title %}Update Habit{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 display-3">Edit Habit</h1>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Habit</h5>
                <div class="card-body">
                    {% include "user_habit_edit_form.html" ignore missing %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}