{% extends 'base.html' %}

{% block page_title %}Improvement Plan{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 display-3">My Development Plan</h1>

    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-header" role="tablist">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="show-persona-list" data-toggle="list" href="#persona-list" role="tab" aria-controls="persona">Personas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="show-habit-list" data-toggle="list" href="#habit-list" role="tab" aria-controls="habit">Habits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="show-goal-list" data-toggle="list" href="#goal-list" role="tab" aria-controls="goal">Goals</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="persona-list" role="tabpanel" aria-labelledby="show-persona-list">
                    {% if user_personas %}

                        {% include "user_persona_collapse_list.html" ignore missing %}

                    {% else %}
                        <p>You have not created any Personas yet!</p>
                    {% endif %}

                        {% include "user_persona_collapse_add_form.html" ignore missing %}

                    </div>

                    <div class="tab-pane fade" id="habit-list" role="tabpanel" aria-labelledby="show-habit-list">
                    {% if user_habits %}

                        {% include "user_habit_collapse_list.html" ignore missing %}

                    {% else %}

                        <p>You have not created any Habits yet!</p>

                    {% endif %}

                        {% include "user_habit_collapse_add_form.html" ignore missing %}

                    </div>
                    
                    <div class="tab-pane fade" id="goal-list" role="tabpanel" aria-labelledby="show-goal-list">
                    {% if user_goals %}

                        {% include "user_goal_collapse_list.html" ignore missing %}

                    {% else %}

                        <p>You have not created any Goals yet!</p>
                        
                    {% endif %}

                        {% include "user_goal_collapse_add_form.html" ignore missing %}

                    </div>
                </div>

            </div>
        </div>
    </div>
  

</div>

{% endblock %}