<div class="accordion" id="accordionHabit">
    {% for habit in user_habits %}
    <div class="card">
        <div class="card-header" id="heading{{ habit.User_Habit.id }}">
            <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ habit.User_Habit.id }}" aria-expanded="false" aria-controls="collapse{{ habit.User_Habit.id }}">
                {{ habit.title_en }}
            </button>
            </h2>
        </div>
    
        <div id="collapse{{ habit.User_Habit.id }}" class="collapse" aria-labelledby="heading{{ habit.User_Habit.id }}" data-parent="#accordionHabit">
            <div class="card-body">
                <div class="row">
                    {% if habit.User_Habit.description_private %}
                        <h5 class="card-text ml-3">{{ habit.User_Habit.description_private }}</h5>
                    {% else %}
                        <h5 class="card-text ml-3">{{ habit.description_public }}</h5>
                    {% endif %}
                </div>

                <div class="row">
                    {% if habit.User_Habit.scoring_system_id %}
                    <div class="col-12 col-lg-6 col-xl-4 mt-4 mx-1">
                        <h5>Activity History (7 days)</h5>
                        <div class="gviz_user_scores_h" id="gviz_user_scoresh{{ habit.User_Habit.id }}" data-habit_id="{{ habit.User_Habit.id }}" data-qty_days="7"></div>
                    </div>
                    
                    <div class="col-12 col-lg-6 col-xl-4 mt-4 mx-1">
                        <h5>Scoring System</h5>
                        <div class="gviz_scoring_sys" id="gviz_scoring_sysh{{ habit.User_Habit.id }}" data-sys="{{ habit.User_Habit.scoring_system_id }}" data-title="Scoring System"></div>
                    </div>
                    {% endif %}

                    <div class="col-12 col-lg-6 col-xl-3 mt-4 mx-1">
                        <h5>Linked Personas</h5>
                        {% if habit.persona_id %}
                        
                        <p>{{ habit.persona_title }}</p>

                        {% else %}

                        <p>This Habit is not linked to a Persona</p>
                        
                        {% endif %}
                    </div>
                    
<!-- 
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Goals</h5>
                        <p>List of Goals</p>
                        <br>
                        <p>Linked to this Habit</p>
                    </div> -->

                    
                </div>

                <div class="row mt-4 justify-content-center">
                    <a href="{{ url_for('tracking_bp.get_new_habit_score', habit_id = habit.User_Habit.id) }}" class="btn btn-primary mx-2">Track Progress</a>
                    <a href="#" class="btn btn-info mx-2">Edit Habit</a>
                    <a href="#" class="btn btn-danger mx-2">Delete Habit</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>