<div class="accordion mt-3" id="accordionAddPersona">
    <div class="card text-white bg-secondary">
        <div class="card-header" id="headingAddPersona">
            <h2 class="mb-0">
            <button class="btn btn-block text-white text-left" type="button" data-toggle="collapse" data-target="#collapseAddPersona" aria-expanded="false" aria-controls="collapseAddPersona">
                Create Persona
            </button>
            </h2>
        </div>
    
        <div id="collapseAddPersona" class="collapse" aria-labelledby="headingAddPersona" data-parent="#accordionAddPersona">
            <div class="card-body">
                {% include "user_persona_add_form.html" ignore missing %}
            </div>
        </div>
    </div>
</div>