<form action="{{ url_for('plan_bp.update_persona', persona_id=persona_id)}}" method="post">
    {{ user_persona_form.hidden_tag() }}

    {% for field in user_persona_form if field.widget.input_type != 'hidden'%}

    <div class="form-group">
    {% if field.type == "BooleanField" %}
        <div class="form-check">
            {{ field(class_="form-check form-check-input")}}
            {{ field.label(class_="form-check-label") }}
        </div>
    {% else %}

        {{ field.label(class_="font-weight-bolder") }}
        {{ field(class_="form-control")}}

    {% endif %}

    {% for error in field.errors %}
        <small class="form-text text-danger">
        {{error}}
        </small>
    {% endfor %}
    </div>

    {% endfor %}

    <a href="{{ url_for('plan_bp.get_plan_home')}}" class="btn btn-secondary my-2">Cancel</a>
    <button type="submit" class="btn btn-primary my-2">Update</button>
</form>

