<div class="accordion mt-3" id="accordionAddGoal">
    <div class="card text-white bg-secondary">
        <div class="card-header" id="headingAddGoal">
            <h2 class="mb-0">
            <button class="btn btn-block text-white text-left" type="button" data-toggle="collapse" data-target="#collapseAddGoal" aria-expanded="false" aria-controls="collapseAddGoal">
                Create Goal
            </button>
            </h2>
        </div>
    
        <div id="collapseAddGoal" class="collapse" aria-labelledby="headingAddGoal" data-parent="#accordionAddGoal">
            <div class="card-body">
                {% include "user_goal_add_form.html" ignore missing %}
            </div>
        </div>
    </div>
</div>