<div class="accordion" id="accordionHabit">
    {% for habit in user_habits %}
    <div class="card">
        <div class="card-header" id="heading{{ habit.User_Habit.id }}">
            <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ habit.User_Habit.id }}" aria-expanded="false" aria-controls="collapse{{ habit.User_Habit.id }}">
                {{ habit.title_en }}
            </button>
            </h2>
        </div>
    
        <div id="collapse{{ habit.User_Habit.id }}" class="collapse" aria-labelledby="heading{{ habit.User_Habit.id }}" data-parent="#accordionHabit">
            <div class="card-body">
                <div class="row">
                    {% if habit.User_Habit.description_private %}
                        <h5 class="card-text ml-3">{{ habit.User_Habit.description_private }}</h5>
                    {% else %}
                        <h5 class="card-text ml-3">{{ habit.description_public }}</h5>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                        <h5>Activity</h5>
                        <p>Chart of Activity</p>
                        <br>
                        <p>Over the Last 7 Days</p>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Personas</h5>
                        {% if habit.persona_id %}
                        
                        <p>{{ habit.persona_title }}</p>

                        {% else %}

                        <p>This Habit is not linked to a Persona</p>
                        
                        {% endif %}
                    </div>
                    
                    {% if habit.User_Habit.scoring_system_id %}
                    <div class="col-12 col-md-6 col-lg-3 mt-4 gviz_stepchart" id="gviz_stepchart_{{ habit.User_Habit.scoring_system_id }}" data-sys="{{ habit.User_Habit.scoring_system_id }}" data-title="Scoring System">
                        <h5>Scoring System</h5>
                    </div>
                    {% endif %}

                    <!-- 
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Goals</h5>
                        <p>List of Goals</p>
                        <br>
                        <p>Linked to this Habit</p>
                    </div> -->

                </div>

                <div class="row mt-4 justify-content-center">
                    <a href="#" class="btn btn-primary mx-2">Edit Habit</a>
                    <a href="#" class="btn btn-danger mx-2">Delete Habit</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>