<div class="accordion" id="accordionGoal">
    {% for goal in user_goals %}
    <div class="card">
        <div class="card-header" id="heading{{ goal.User_Goal.id }}">
            <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ goal.User_Goal.id }}" aria-expanded="false" aria-controls="collapse{{ goal.User_Goal.id }}">
                {{ goal.title_en }}
            </button>
            </h2>
        </div>
    
        <div id="collapse{{ goal.User_Goal.id }}" class="collapse" aria-labelledby="heading{{ goal.User_Goal.id }}" data-parent="#accordionGoal">
            <div class="card-body">
                <div class="row">
                    {% if goal.User_Goal.description_private %}
                        <h5 class="card-text ml-3">{{ goal.User_Goal.description_private }}</h5>
                    {% else %}
                        <h5 class="card-text ml-3">{{ goal.description_public }}</h5>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-4 mt-4 mx-1">
                        <h5>Activity History (7 days)</h5>
                        <div class="gviz_user_scores_g" id="gviz_user_scoresg{{ goal.User_Goal.id }}" data-goal_id="{{ goal.User_Goal.id }}" data-qty_days="7"></div>
                    </div>
                    
                    {% if goal.User_Goal.scoring_system_id %}
                    <div class="col-12 col-lg-6 col-xl-4 mt-4 mx-1">
                        <h5>Scoring System</h5>
                        <div class="gviz_scoring_sys" id="gviz_scoring_sysg{{ goal.User_Goal.id }}" data-sys="{{ goal.User_Goal.scoring_system_id }}" data-title="Scoring System"></div>
                    </div>
                    {% endif %}

                    <div class="col-12 col-lg-6 col-xl-3 mt-4 mx-1">
                        <h5>Linked Personas</h5>
                        {% if goal.persona_id %}
                        
                        <p>{{ goal.persona_title }}</p>

                        {% else %}

                        <p>This Goal is not linked to a Persona</p>
                        
                        {% endif %}
                    </div>
<!-- 
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Habits</h5>
                        <p>List of Habits</p>
                        <br>
                        <p>Linked to this Goal</p>
                    </div> -->




                </div>

                <div class="row mt-4 justify-content-center">
                    <a href="#" class="btn btn-primary mx-2">Edit Goal</a>
                    <a href="#" class="btn btn-danger mx-2">Delete Goal</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>