<div class="accordion" id="accordionPersona">
    {% for persona in persona_render_list %}
    <div class="card">
        <div class="card-header" id="heading{{ persona.persona_title }}">
            <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ persona.persona_title }}" aria-expanded="false" aria-controls="collapse{{ persona.persona_title }}">
                {{ persona.persona_title }}
            </button>
            </h2>
        </div>
    
        <div id="collapse{{ persona.persona_title }}" class="collapse" aria-labelledby="heading{{ persona.persona_title }}" data-parent="#accordionPersona">
            <div class="card-body">
                <div class="row">
                    {% if persona.description_private %}
                        <h5 class="card-text ml-3">{{ persona.description_private }}</h5>
                    {% else %}
                        <h5 class="card-text ml-3">{{ persona.description_public }}</h5>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                        <h5>Activity</h5>
                        <p>Chart of Activity</p>
                        <br>
                        <p>Over the Last 7 Days</p>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Habits</h5>
                        {% if persona.linked_habits %}
                        
                        <ul class="list-group">
                        {% for habit in persona.linked_habits %}
                            <li class="list-group-item">{{ habit }}</li>
                        {% endfor %}
                        </ul>

                        {% else %}

                        <p>This Persona Has No Linked Habits</p>
                        
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <h5>Linked Goals</h5>
                        {% if persona.linked_goals %}
                        
                        <ul class="list-group">
                        {% for goal in persona.linked_goals %}
                            <li class="list-group-item">{{ goal }}</li>
                        {% endfor %}
                        </ul>

                        {% else %}

                        <p>This Persona Has No Linked Goals</p>
                        
                        {% endif %}
                    </div>

                </div>

                <div class="row mt-4 justify-content-center">
                    <a href="{{ url_for('plan_bp.get_edit_persona', persona_id = persona.persona_id) }}" class="btn btn-primary mx-2">Edit Persona</a>
                    <form action="{{ url_for('plan_bp.delete_persona', persona_id = persona.persona_id) }}" method="post">
                        <button type="submit" class="btn btn-danger mx-2">Delete Persona</button>
                    </form>
                    
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>